noted-red.txt
[{"id":"bae880de.219ba","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5c4e791.e6e2e8","type":"rpi-gpio out","z":"bae880de.219ba","name":"GreenLED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":530,"y":340,"wires":[]},{"id":"2a5cdb19.bf25a4","type":"debug","z":"bae880de.219ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":240,"wires":[]},{"id":"ea8408f8.4172c8","type":"rpi-gpio in","z":"bae880de.219ba","name":"Button","pin":"11","intype":"up","debounce":"25","read":true,"x":90,"y":260,"wires":[["2a5cdb19.bf25a4","62c0b9ba.867d18"]]},{"id":"62c0b9ba.867d18","type":"switch","z":"bae880de.219ba","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":360,"wires":[["f99024bc.bf5a38"],["8039a55a.4d4758"]]},{"id":"f99024bc.bf5a38","type":"change","z":"bae880de.219ba","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[["c5c4e791.e6e2e8"]]},{"id":"8039a55a.4d4758","type":"change","z":"bae880de.219ba","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["c5c4e791.e6e2e8"]]}]